{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1 class="display-4">Welcome Home!</h1>
            <p class="lead">This is a homepage of the Blog Flask Application</p>
        </div>
        {% if not current_user.is_authenticated %}
            <div class="mt-5">
                <a href="/register" class="btn btn-primary btn-lg">Register</a>
                <a href="/login" class="btn btn-success btn-lg">Login</a>
            </div>
        {% endif %}
    </div>
{% endblock %}